
.c_boxes {
  display: inline-block;
}

.c_boxes__row {
  display: flex;
  justify-content: center;
}

.c_boxes__day_name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}