.wrapper {
  top: 0;
  left: 0;
  height: calc(100vh - 100px - 40px);
  width: 100vw;
  background-color: orange;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 100vw;
  background-color: rebeccapurple;
}

.sergio {
  display: flex;
  position: relative;
  height: 100%;
  width: 400vw;
  overflow: hidden;
  left: 0;
  background-color: violet;
  transition: left 2s;
}

.forward {
  position: fixed;
  top: 50%;
}

.position--0 {
  left: 0;
}

.position--1 {
  left: -100vw;
}

.position--2 {
  left: -200vw;
}

.position--3 {
  left: -300vw;
}
