.hidden {
  display: none;
}

.wrapper {
  top: 0;
  left: 0;
  height: calc(100vh - 100px - 40px);
  width: 100vw;
}

.background {
  background-image: url("./../../assets/images/background-2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.loading p {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 400vw;
  overflow: hidden;
  left: 0;
  transition: left 2s;
}

.position--0 {
  left: 0;
}

.position--1 {
  left: -100vw;
}

.position--2 {
  left: -200vw;
}

.position--3 {
  left: -300vw;
}
