.wrapper {
  top: 0;
  left: 0;
  height: calc(100vh - 100px - 40px);
  width: 100vw;
  background-image: url("./../../assets/images/background-2.png");
}

.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 400vw;
  overflow: hidden;
  left: 0;
  transition: left 2s;
}

.arrow {
  position: fixed;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  background: white;
}

@media only screen and (max-width: 600px) {
  .arrow {
    font-size: 20px;
    cursor: pointer;
    top: 30%;
  }
}

.backward {
  left: 0;
}

.forward {
  right: 0;
}

.position--0 {
  left: 0;
}

.position--1 {
  left: -100vw;
}

.position--2 {
  left: -200vw;
}

.position--3 {
  left: -300vw;
}
