.c_calendar__wrapper {
  display: flex;
  position: relative;
  height: 400px;
  margin-top: 5px;
  overflow: hidden;
}

.c_calendar {
  display: inline-flex;
  position: absolute;
  transition-duration: 2s;
}

.transition {
  transition-property: left;
}

.c_boxes__buttons {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 100%;
  z-index: 1;
}
