
.c_calendar__wrapper {
  display: inline-flex;
  position: relative;
  height: 400px;
  overflow: hidden;
  background-color: red;
}

.c_calendar {
  display: inline-flex;
  position: absolute;
}

.c_calendar--transition {
  transition-property: left;
}

.c_boxes__buttons {
  z-index: 1;
}