
.c_calendar__wrapper {
  display: inline-flex;
  width: 225px;
  background-color: red;
  position: relative;
  height: 400px;
  overflow: hidden;
}

.c_calendar {
  display: inline-flex;
  position: absolute;
}

.c_calendar--transition {
  transition-property: left;
  transition-duration: 0.5s;
}

.c_calendar--center {
  left: -224px;
}

.c_calendar--left {
  left: 0px;
}

.c_calendar--right {
  left: -448px;
}

.c_boxes__buttons {
  z-index: 1;
}