
.container {
  display: flex;
  background-color: black;
  height: 100px;
  width: 100%;
  color: green;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}