.hidden {
  display: none;
}

.wrapper {
  top: 0;
  left: 0;
  height: calc(100vh - 100px - 40px);
  width: 100vw;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.loading p {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.background {
  background-image: url("./../../assets/images/background-2.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}